*, ::before, ::after {
    box-sizing: border-box;
}

/*desktop*/

html {
    font-family: 'Lucida Console', monospace;
}

body {
  background-color: #f1ebfa;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid black;
    background-color: #530fa6;
    height: 50px;
    margin-bottom: 10px;
}

table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bigthings {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.headercool:link {
    color: #f5feff;
    text-decoration: none;
}
.headercool:visited {
    color: #88ecf7;
}
.headercool:hover {
    color: #88ecf7;
    text-decoration: underline;
    text-decoration-style: wavy;
}
.headercool:active {
    color: #46b7f0;
}

.tabletbanners {
    display: none;
}

.mobilebanners {
    display: none;
}

.tablettable {
    display: none;
}

.mobiletable {
    display: none;
}

.spookyimg {
     display: block;
     margin: auto;
     height: 20%;
     width: 20%;
     margin-bottom: 20px;
}

.center {
    text-align: center;
    margin-bottom: 10px;
}

.contactcenter {
    text-align: center;
    margin-bottom: 20px;
}

.linkscenter {
    display: inline-block;
    text-align: left;
}

.credits {
    text-align: left;
    font-size: 13px;
    font-style: italic;
    color: dimgray;
}


/*ipads and tablets*/

@media (min-width: 481px) and (max-width: 768px) {

.desktopbanners {
    display: none;
}

.tabletbanners {
    display: block;
}

.mobilebanners {
    display: none;
}

.desktoptable {
    display: none;
}

.tablettable {
    display: block;
}

.mobiletable {
    display: none;
}

/*mobile devices*/

@media (max-width: 480px) {

.desktopbanners {
    display: none;
}

.tabletbanners {
    display: none;
}

.mobilebanners {
    display: block;
}

.desktoptable {
    display: none;
}

.tablettable {
    display: none;
}

.mobiletable {
    display: block;
}